@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: Inter, sans-serif;
}

body {
	background: rgb(238, 238, 250);
	background: url("wp2867256-fishing-wallpaper-hd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
}